html {
background-color: #0c0a0b;
}

body {
font-size: 10px;
font-family: Arial, Helvetica, sans-serif;
line-height: 2.8em;
  text-align: center;
  margin: 0;
}

#main {
    margin: 30px 8px;
    padding: 15px;
    border-radius: 5px;
    color: #0c0a0b;
}

#title {
font-size: 3em;
text-align: center;
color: #D3FBD8;
}

#title-subtext {
    text-align: center;
    font-size: 2em;
    color: #D3FBD8;
}
#img-div {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    text-align: center;
    color: #C1A7A7;
    
}

#image {
    max-width: 100%;
  height: auto;
}

#img-caption {
    font-size: 2em;
    color: #D3FBD8;
}
#tribute-info{
background-color: #4C4452;
padding-top: 1em;
border-radius: 5px;
color: #D3FBD8;

}

#tribute-info > p{
    
    font-size: 2em;
    width: 80%;
    margin: auto;
    text-align: justify;

}


h3 {
    font-size: 4em;
    text-align: center;
    font-family: Trirong;
    font-style: italic;
}

.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1em;  
    row-gap: 1em;
    grid-auto-rows: minmax(1em, auto); 
  
}
h4 {
    font-size: 2em;
}
.container > div {
    font-size: 1.8em;
    padding: 1em;
    background-color: #CA9FB5;
    border-radius: 25px;
    color: #364954;

}
.closing {
font-size: 2em;
color: #D3FBD8;

}
#tribute-link {
    font-style: italic;
    color: #D3FBD8;
}